*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #7BB9CE;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

header img {
    max-width: 20%;
    max-height: 20%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav ul li a {
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
  margin: auto;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav ul li a:hover {
  color: #E86299;
}
