*, *::before, *::after {
  box-sizing: inherit;
}

body:first-child {
  z-index: -1;
}

header {
  background-color: #7ec2cd;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1.125rem;
}

header img {
  max-width: 20%;
  max-height: 20%;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav ul li a {
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
  margin: auto;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav ul li a:hover {
  color: #E86299;
}

.merchandise {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 100%;
  background-color: #E86299;
  display: block;
  min-height: 200px;
  width: 100%;
}

.about {
  text-align: center;
}

.banner {
  background-image: url('../images/hero-banner.svg');
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: pink;
}

.merchandise {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px auto;
  max-width: 800px;
}

.merchandise h2 {
  text-align: center;
}

.albums {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  margin: 60px auto;
  max-width: 800px;
}

.albums img {
  border: 9px solid #B14B74;
}

.albums h2 {
  text-align: center;
}

.famous-albums {
  background-color: #E86299;
  color: white;
}

.famous-albums h2 {
  text-align: center;
  padding-top: 0.5em;
}

.banner-2 {
  background-image: url('../images/banner.svg');
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #7BB9CE;
}

.grid {
  margin: 1em 2em 0 0;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.icons {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-size: 4.5em;
  gap: 2em;

}

.icons div i, .icons div a {
  color: white;
  font-size: 5rem;

}

.icons {
  background-color: #E86299;
}

.music-release {
  text-align: center;
  border-radius: #B14B74;
}

footer {
  background-color: #69878A;
  color: white;
  padding-right: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
